*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

/*started*/
header{
    background-color: #0084fd;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px;
}

#started{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: auto;
    text-align: center;
}

#started ul{
    gap: 30px;
    display: flex;
    list-style-type: none; 
    color: white;
    align-items: center;
}

.but-white{
    background-color: white;
    padding: 7px;
    border-radius: 25px;
    border: none;
    color: black;
}

.but-white:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

/*get a demo application*/
main{
    padding-top: 90px;
}

#container-app{
    padding-top: 15px;
    align-items: center;
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 15px;
}

.demo-application{
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    width: 71%;
    position: relative;
}

.info{
    padding-top: 10px;
    width: 50%;
}

.info-phone h3{
    color: #0084fd;
    padding-bottom: 10px;
}

.info-phone p{
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 30px;
    color: #5a6e7f;
}

.but-blue{
    background-color: #0084fd;
    padding: 7px;
    border-radius: 25px;
    border: none;
    color: white;
    width: 170px;
    text-align: center;
}

.but-blue:hover{
    background-color: #65b5ff;
    cursor: pointer;
}

#container-app img{
    position: absolute;
    bottom: 0;
}

/*app*/
.app{
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 10px;
    width: 35%;
    text-align: center;
}

.app h3{
    color: #0084fd;
    padding-bottom: 10PX;
}

.app p{
    padding: 15px;
    font-size: 15px;
    color: #5a6e7f;
}

/*768*/
@media screen and ( max-width: 768px ){

    #started{ 
        width: 100%;
    }

    #container-app{
        width: 90%;
    }

    .demo-application{
        display: flex;
        height: 400px;
    }
    
    .app p{
        font-size: 15px;
    }
    
    .info{
        width: 100%;
    }
    
    .app{
        padding: 5px;
        width: 35%;
        height: 400px;
    }

    
    .demo-application{
        position: relative;
    }
    
    figure img{
        width: 160px;
        height: 170px;
        position: absolute;
        bottom: 0;
        left: 40px;
    }

}

/*480*/
@media screen and ( max-width: 480px ){

    #started{ 
        width: 100%;
    }

    #container-app{
        width: 80%;
        flex-direction: column;
    }

    .demo-application{
        display: flex;
        height: 440px;
    }
    
    .app p{
        font-size: 15px;
        line-height: 30px;
    }
    
    .info{
        width: 100%;
    }
    
    .app{
        padding: 10px;
        width: 80%;
        height: 300px;
    }

    
    .demo-application{
        position: relative;
    }
    
    figure img{
        width: 200px;
        height: 170px;
        position: absolute;
        bottom: 0;
        left: 35px;
    }



}