*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

/*started*/
header{
    background-color: #0084fd;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px;
}

#started{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: auto;
    text-align: center;
}

#started ul{
    gap: 30px;
    display: flex;
    list-style-type: none; 
    color: white;
    align-items: center;
}

.but-white{
    background-color: white;
    padding: 7px;
    border-radius: 25px;
    border: none;
    color: black;
}

.but-white:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.opzione{
    display: none;
}

/*get a demo application*/
main{
    padding-top: 90px;
}

.container-app{
    padding-top: 15px;
    align-items: center;
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 15px;
}

.demo-application{
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    width: 71%;
    position: relative;
}

.info{
    padding-top: 10px;
    width: 50%;
}

.info-phone h3{
    color: #0084fd;
    padding-bottom: 10px;
}

.info-phone p{
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 30px;
    color: #5a6e7f;
}

.but-blue{
    background-color: #0084fd;
    padding: 7px;
    border-radius: 25px;
    border: none;
    color: white;
    width: 170px;
    text-align: center;
}

.but-blue:hover{
    background-color: #65b5ff;
    cursor: pointer;
}

.container-app img{
    position: absolute;
    bottom: 0;
}

/*app*/
.app{
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 10px;
    width: 35%;
    text-align: center;
}

.app h3{
    color: #0084fd;
    padding-bottom: 10PX;
}

.app p{
    padding: 15px;
    font-size: 15px;
    color: #5a6e7f;
}

/*strategic planning*/
#container-color{
    background-color: #9792e4;
    height: 600px;
    margin-top: 100px;
}

.container-strat{
    padding-top: 50px;
    width: 900px;
    margin: 0 auto;
}

/*sinistra*/
.strategic-left{
    float: left;
    width: 50%;
}

.strat-left img{
    height: 250px;
}

.strat-left{
    margin: auto;
    width: 80%;
    padding-top: 40px;
    padding: 20px;
}

.strat-left p{
    padding-top: 20px;
    font-size: 15px;
    color: white;
}

.strat-left h3{
    color: white;
    padding-top: 30px;
}

/*destra*/
.strategic-right{
    padding-top: 100px;
    float: right;
    width: 50%;
}

.strat-right{
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px;
    width: 80%;
    padding-top: 40px;
    padding: 20px;
    text-align: center;

}

.strat-right img{
    height: 200px;
    padding-bottom: 20px;
}

.strat-right span{ /*cerchio*/
    background-color: #9792e4;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}

.strat-right p{
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 30px;
    padding: 15px;
}

/*we are committed expert parthers*/
#contanier-expert-parthers{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.testimonials{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials h1{
    padding: 30px;
    color: #9792e4;
    font-size: 40px;
}

.contenitore-persone{
    background-color: #9792e4;
    padding: 20px;
    border-radius: 30px;
    display: flex;
}

.parthers{
    width: 25%;
}

.contenitore-persone img{
    width: 150px;
    height: 150px;
    clip-path: circle(50%);
}

.info-parthers p{
    padding-top: 30px;
    width: 90%;
    display: flex;
    color: white;
}



/*benefits of working with us*/
#contaneir-numeri{
    background-color: #9792e4;
    padding-bottom: 50px;
}

.tabelle-numeri{
    padding-top: 15px;
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 15px;
}

.but-purple{
    background-color: #9792e4;
    padding: 7px;
    border-radius: 25px;
    border: none;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.but-purple:hover{
    background-color: #6d67b9;
    cursor: pointer;
}


.title-benefits{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-benefits h1{
    padding: 10px;
    color: white;
    font-size: 40px;
}

/*caselle numeri*/
.bene-number{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 35%;
}

.bene-number h1{
    color: #9792e4;
    font-size: 50px;
    padding: 10px;
}


.bene-number h3{
    color: #9792e4;
    padding: 10px;
}

.bene-number p{
    padding: 10px;
    font-size: 15px;
    line-height: 30px;
    color: #5a6e7f;
}


/*about us*/
#about-us{
    width: 1000px;
    margin: 0 auto;
}

#about-us .container-about{
    display: flex;
}

#about-us .info-about{
    width: 70%;
    padding: 30px;
    line-height: 30px;
}

.info-about h1{
    font-size: 40px;
}

.info-about p{
    padding-top: 20px;
}

#about-us .info-foto{
    width: 30%;
    margin: auto;
}

#about-us .container-about .info-foto .prof figure img{
    width: 150px;
    height: 150px;
    clip-path: circle(50%);
}

#about-us .info-foto .prof{
    width: 50%;
    color: #9792e4;
    margin: 0 auto;
}

#about-us .info-foto .prof h4{
    padding-top: 10px;
    padding-bottom: 10px;
}

#about-us .info-foto .prof .but-purple{
    padding: 7px;
    border-radius: 25px;
    font-size: 10px;
}


/*768*/
@media screen and ( max-width: 768px ){

    #started{ 
        width: 90%;
    }

    .opzione{
        display: block;
    }
    
    .visibile{
        display: none;
    }

    .container-app{
        width: 90%;
    }

    .demo-application{
        display: flex;
        height: 400px;
    }
    
    .info-phone{
        width: 300px;
    }


    .app p{
        font-size: 15px;
    }
    
    .app{
        padding: 5px;
        width: 35%;
        height: 400px;
    }
        
    .container-app figure img{
        width: 160px;
        height: 170px;
        position: absolute;
        bottom: 0;
        left: 40px;
    }

    /*strategic planning*/
    #container-color{
        height: 100%; 
    }

    .container-strat{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    /*left*/
    .strategic-left{
        margin: auto;
        width: 90%;
    }

    .strat-left img{
        width: 80%;
        height: 50%;
    }

    .strat-left{
        width: 100%;
        line-height: 30px;
    }

    .strat-left h3{
        font-size: 30px;
    }

    /*right*/
    .strategic-right{
        margin: 0 auto;
        width: 90%;
    }

    .strat-right{
        width: 90%;
        line-height: 30px;
    }

    .strat-right img{
        height: 300px;
    }

    /*we are committed expert parthers*/
    #contanier-expert-parthers{
        width: 90%;
    }

    .parthers{
        width: 200px;
    }

    .info-parthers p{
        padding-left: 30px;
    }

    /*benefits of working with us*/
    .tabelle-numeri{
        padding-top: 15px;
        width: 90%;
    }



    /*about us*/
    #about-us{
        width: 100%;
    }

    #about-us .info-about{
        width: 60%;
    }

    #about-us .info-foto{
        width: 40%;
        margin: 0 auto;
        padding-top: 50px;
    }







    
}

/*480*/
@media screen and ( max-width: 480px ){

    #started{ 
        width: 100%;
    }

    .container-app{
        width: 80%;
        flex-direction: column;
    }

    .but-blue{
        width: 200px;
    }
    
    .demo-application{
        display: flex;
        width: 80%;
        height: 440px;
    }
    
    .app p{
        font-size: 15px;
        line-height: 30px;
    }
    
    .info-phone{
        width: 275px;
    }

    .app{
        padding: 10px;
        width: 80%;
        height: 300px;
    }

    .demo-application{
        position: relative;
    }
    
    .container-app figure img{
        width: 200px;
        height: 170px;
        position: absolute;
        bottom: 0;
        left: 50px;
    }

    /*strategic planning*/
    #container-color{
        height: 100%;    
    }

    .container-strat{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    /*left*/
    .strategic-left{
        margin: auto;
        width: 90%;
    }

    .strat-left img{
        height: 350px;
    }

    .strat-left{
        width: 100%;
    }
    
    .strat-left p{
        line-height: 30px;
    }


    .strat-left h3{
        padding-bottom: 40px;
        font-size: 35px;
    }
 
    /*right*/    
    .strat-right p{
        line-height: 30px;
    }



    /*we are committed expert parthers*/
    #contanier-expert-parthers{
        width: 90%;
    }

    .contenitore-persone{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .parthers{
        margin: 0 auto;
    }

    .parthers img{
        width: 100%;
    }
    
    .info-parthers p{
        padding: 0;
        margin: 0 auto;
        line-height: 30px;
        text-align: center;
    }

    .info-parthers strong{
        padding-top: 15px;
        margin: 0 auto;
    }



    /*benefits of working with us*/
    .tabelle-numeri{
        display: flex;
        flex-direction: column;
    }

    .title-benefits h1{
        width: 90%;
        margin: 0 auto;
    }

    /*caselle numeri*/
    .bene-number{
        width: 90%;
        margin: 0 auto;
    }





    /*about us*/
    #about-us{
        width: 100%;
        margin: 0 auto;
    }

    #about-us .container-about{
        display: flex;
        flex-direction: column;
    }

    #about-us .info-about{
        width: 100%;
        padding: 30px;
        line-height: 30px;
    }

    .info-about h1{
        font-size: 40px;
        color: #9792e4;
    }

    .info-about p{
        padding-top: 20px;
    }

    #about-us .info-foto{
        width: 100%;
        margin: auto;
    }

    #about-us .container-about .info-foto .prof figure img{
        width: 150px;
        height: 150px;
        clip-path: circle(50%);
    }

    #about-us .info-foto .prof{
        width: 70%;
        color: #9792e4;
        margin: 0 auto;
    }

    #about-us .info-foto .prof h4{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    #about-us .info-foto .prof .but-purple{
        padding: 7px;
        border-radius: 25px;
        font-size: 10px;
    }
    
}