*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

/*started*/
header{
    background-color: #0084fd;
    padding: 10px;
  /*position: fixed;
    width: 100%;
    z-index: 1;*/
}

#started{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: auto;
}

#started ul{
    gap: 30px;
    display: flex;
    list-style-type: none; 
    color: white;
}

.but-white{
    background-color: white;
    padding: 7px;
    border-radius: 25px;
    border: none;
    color: black;
}

.but-white:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

/*get a demo application*/
#container-app{
    padding-top: 15px;
    background-color: orange;
    align-items: center;
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 15px;
}

.demo-application{
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 15px;
    height: 250px;
    display: flex;
    width: 71%;
    position: relative;
}

.info{
    padding-top: 10px;
    width: 50%;
}

.info-phone h3{
    color: #0084fd;
}


.info-phone p{
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 30px;
    color: #5a6e7f;
}

.demo-application figure{
    position: absolute;
    bottom: -5px;
    right: 100px;
}    



.clean{
    border: 1px solid black;
    background-color: blue;
    border-radius: 15px;
    width: 35%;
    height: 250px;
    float: right;
}

svg{
}


.but-blue{
    background-color: #0084fd;
    padding: 7px;
    border-radius: 25px;
    border: none;
    color: white;
    width: 170px;
    text-align: center;
}

.but-blue:hover{
    background-color: #65b5ff;
    cursor: pointer;
}

